[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
functions-framework = "==3.*"
requests = ">=2.32.2"
sentry-sdk = ">=2.23.1"
google-cloud-storage = ">=3.1.0"

[dev-packages]

[requires]
python_version = "3.11"
